.search
{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 0.5rem;
    margin: 0;
    font-size: 35px;
    color: white;
    font-family: 'Helvetica';
}
.search:hover
{
    background-color: #575757;
}

@media screen and (max-width: 1000px) {
    .search
    {
        position: absolute;
        top:0;
        right: 0;
        height: 50%;
    }
}
@media screen and (max-width: 768px) {
    .search
    {
        display: none;
    }
}